Menu (<a href="{{ site.github.repository_url }}/edit/{{site.git_branch | escape}}/_includes/sidebar.html">Edit</a>):

<ul>
  <li><a href="{{ '/' | relative_url }}">Home</a></li>
  <li><a href="{{ '/wiki/hardware/index.html' | relative_url }}">Hardware:</a></li>
  <li><ul>
    <li><a href="{{ '/wiki/hardware/JH7110' | relative_url }}">StarFive JH7110</a></li>
    <li><a href="{{ '/wiki/hardware/TH1520' | relative_url }}">T-Head TH1520</a></li>
    <li><a href="{{ '/wiki/hardware/K1' | relative_url }}">SpacemIT K1</a></li>
  </ul></li>
</ul>
